<div class="tabellen">
    <table id="Europe">
        <thead>
            <th>Europe</th>
        </thead>
        <tbody>
            <% for( let i=0; i < countryData.length; i++ ) { 
                if (countryData[i].region=="EU" ) {%>

                <tr class="zelle">
                    <%if(answersName.includes(countryData[i].name)){%>
                        <td id="<%= countryData[i].name %>" class="green">
                            <%= countryData[i].name %>
                        </td>
                    <% } else if(locals.gameover == true){%>
                        <td id="<%= countryData[i].name %>" class="red">
                            <%= countryData[i].name %>
                        </td>
                    <%}%>
                </tr>
                <% }}; %>
        </tbody>
    </table>

    <table id="Asia">
        <thead>
            <th>Asia</th>
        </thead>
        <tbody>
            <% for( let i=0; i < countryData.length; i++ ) { if (countryData[i].region=="AS" ) {%>
                <tr class="zelle">
                    <%if(answersName.includes(countryData[i].name)){%>
                        <td id="<%= countryData[i].name %>" class="green">
                            <%= countryData[i].name %>
                        </td>
                    <% } else if(locals.gameover == true){%>
                        <td id="<%= countryData[i].name %>" class="red">
                            <%= countryData[i].name %>
                        </td>
                    <%}%>
                </tr>
                <% }} %>
        </tbody>
    </table>
    <table id="NorthAmerica">
        <thead>
            <th>North America</th>
        </thead>
        <tbody>
            <% for( let i=0; i < countryData.length; i++ ) { if (countryData[i].region=="NA" ) {%>
                <tr class="zelle">
                    <%if(answersName.includes(countryData[i].name)){%>
                        <td id="<%= countryData[i].name %>" class="green">
                            <%= countryData[i].name %>
                        </td>
                    <% } else if(locals.gameover == true){%>
                        <td id="<%= countryData[i].name %>" class="red">
                            <%= countryData[i].name %>
                        </td>
                    <%}%>
                </tr>
                <% }} %>
        </tbody>
    </table>

    <table id="Africa">
        <thead>
            <th>Africa</th>
        </thead>
        <tbody>
            <% for( let i=0; i < countryData.length; i++ ) { if (countryData[i].region=="AF" ) {%>
                <tr class="zelle">
                    <%if(answersName.includes(countryData[i].name)){%>
                        <td id="<%= countryData[i].name %>" class="green">
                            <%= countryData[i].name %>
                        </td>
                    <% } else if(locals.gameover == true){%>
                        <td id="<%= countryData[i].name %>" class="red">
                            <%= countryData[i].name %>
                        </td>
                    <%}%>
                </tr>
                <% }} %>
        </tbody>
    </table>

    <div class="blockSA">
        <table id="SouthAmerica">
            <thead>
                <th>South America</th>
            </thead>
            <tbody>
                <% for( let i=0; i < countryData.length; i++ ) { if (countryData[i].region=="SA" ) {%>
                    <tr class="zelle">
                    <%if(answersName.includes(countryData[i].name)){%>
                        <td id="<%= countryData[i].name %>" class="green">
                            <%= countryData[i].name %>
                        </td>
                    <% } else if(locals.gameover == true){%>
                        <td id="<%= countryData[i].name %>" class="red">
                            <%= countryData[i].name %>
                        </td>
                    <%}%>
                </tr>
                    <% }} %>
            </tbody>
        </table>
        <table id="Oceania">
            <thead>
                <th>Oceania</th>
            </thead>
            <tbody>
                <% for( let i=0; i < countryData.length; i++ ) { if (countryData[i].region=="OC" ) {%>
                    <tr class="zelle">
                    <%if(answersName.includes(countryData[i].name)){%>
                        <td id="<%= countryData[i].name %>" class="green">
                            <%= countryData[i].name %>
                        </td>
                    <% } else if(locals.gameover == true){%>
                        <td id="<%= countryData[i].name %>" class="red">
                            <%= countryData[i].name %>
                        </td>
                    <%}%>
                </tr>
                    <% }} %>
            </tbody>